<footer id="colophon" class="site-footer">
    <div class="container">
        <a href="/">
            <img src="https://dfek4hcroxmvv.cloudfront.net/images/Scott_Yancey/brand-site/main_scott_logo2-min.png" alt="yancey logo"
                width="243" height="30" class="alignnone size-auto">
        </a>
        <div class="footer-links-wrap">
            <div class="footer-menu-wrap">
                <ul class="footer-menu">
                    <li>
                        <a href="/paying-it-forward/">Paying It Forward</a>
                    </li>
                    <li>
                        <a href="/play-hard/">Play Hard</a>
                    </li>
                    <li>
                        <a href="/diversification/">Diversification</a>
                    </li>
                </ul>
                <ul class="footer-menu">
                    <li>
                        <a href="/events/">Events</a>
                    </li>
                    <li>
                        <a href="/flipping-vegas/">Flipping Vegas</a>
                    </li>
                    <li>
                        <a href="/media/">Media</a>
                    </li>
                </ul>
                <ul class="footer-menu">
                    <li>
                        <a href="/about-us/">About Us</a>
                    </li>
                    <li>
                        <a href="/contact-us/">Contact Us</a>
                    </li>
                    <li>
                        <a href="/faq">FAQ</a>
                    </li>
                </ul>
            </div>
            <div class="footer-social">
                <a href="https://www.facebook.com/scotteyancey">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="https://twitter.com/Scott_Yancey/media">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="https://www.youtube.com/user/scottyanceyflippingv">
                    <i class="fab fa-youtube"></i>
                </a>
                <a href="https://www.instagram.com/scott_yancey/">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
        </div>
        <div class="footer-legal">

            <p>
                <a href="/terms-and-conditions/">Terms</a> |
                <a href="/privacy-policy/">Privacy Policy</a>
            </p>

            <p>
                &copy; 2018 Scott Yancey and Affluence Edu. All rights reserved.
            </p>
            <p>This website is operated and maintained by Affluence Edu. Use of the website is governed by its <a href="https://scottyancey.com/terms-and-conditions/">Terms
                    and Conditions
                </a> and <a href="https://scottyancey.com/privacy-policy/">Privacy Policy</a>.</p>
            <p>
                Affluence Edu, its parents, subsidiaries, and affiliates is a direct-to-consumer real estate training and education company.
                We do not sell a business opportunity, “get rich quick” program, or money-making system. We believe, with
                education, individuals can be better prepared to make investment decisions, but we do not guarantee success
                in investing. We do not make earnings claims, efforts claims, return on investment claims, or claims that
                our training will make you any money. Training generally includes a hybrid of education, training, and tools/resources.
                All material is intellectual property and protected by copyright. Any duplication, reproduction, or distribution
                is strictly prohibited. Training and education for Scott Yancey’s events are provided by his education partner,
                Response. No affiliation with or endorsement by A&E Television Networks, LLC.
            </p>

            <p>
                Investing of any kind carries risk and it is possible to lose some or all of your money. The training provided is general
                in nature and some strategies may not be appropriate for all individuals or all situations. Be advised that
                we do not give any individual real estate recommendation or advice as to any investment transaction or opportunity.
                We are not paid any transaction-based compensation for any real estate transaction and do not receive any
                referral fees or financial benefit from any brokerage firm. It is highly recommended that individuals work
                with licensed real estate brokers, agents, and professionals for any real estate transactions. We are not
                a licensed real estate broker, tax accountant, or law firm. Some of the company’s hired presenters, trainers,
                and staff may hold various registration and licensing, but they do not operate in such capacity, as agents
                of the company. We are not a real estate expert or investment expert, and it is highly recommended that you
                consult with appropriate licensed experts before engaging in investing-related transactions. We are an educational
                company that provides training concerning the real estate industry.
            </p>

            <p>
                In an effort to continually improve the customer experience, we survey our customers often. Nevertheless, it is difficult
                to track and ascertain those who implement and complete the training. Some customers attend the training
                for education purposes only – and do not purchase additional training – but may be included in satisfaction
                survey results. Testimonials and reviews are individual experiences and personal opinions of those who have
                purchased education and training. Individual results will vary, and testimonials and/or reviews may not be
                typical. Results rely on individual effort, time, and skill of each customer, as well as market conditions
                and other factors. The Company is unable to track whether a customer applies the training or how much money
                a customer earns. However, it is assumed that most customers do not apply the needed effort and time, or
                do not acquire the skills, to complete transactions successfully and, therefore, most clients do not make
                money. You may be asked to complete a satisfaction survey. By completing a survey, you confirm that the information
                contained is an accurate representation of your experience and that you have not received any financial incentive
                to give positive feedback. Further, you give the Company permission to publish your aggregate feedback and
                comments, on your behalf, to the Company’s website(s), materials, and various online review outlets. We respect
                your privacy and will not publish personally identifiable information.
            </p>

            <p>
                In an effort to continually improve as a training organization, the Company surveys its advanced training customers for feedback
                regarding their experience(s). Nevertheless, it is difficult to track and ascertain those who implement and
                complete the training provided. Surveys results presented in both digital and print form are typically the
                aggregate results over a 12-month period and are audited by a third-party. Results include all respondents
                and include some customers who attended and/or purchased training for education and information purpose only.
            </p>

            <p>
                The Company may link to content or refer to content and/or services created by or provided by third parties that are not
                affiliated with the Company. The Company is not responsible for such content and does not endorse or approve
                it. Such content may contain terms and conditions, privacy provisions, confidentiality provisions, or other
                provisions that differ from the terms and conditions applicable to the Company and its products and services.
                The Company assumes no responsibility or liability whatsoever for the accuracy, reliability, or opinions
                contained in such content. If you decide to access such content or use their products or services, you do
                so at your own risk. The Company may provide services by or refer you to third-party businesses. Some of
                these businesses have common interest and ownership with the Company. Third-party terms and conditions, privacy
                provisions, confidentiality provisions, or other provisions are governed separately from your customer relationship
                with the Company. Third-party company names, logos, and products are trademarks or registered trademarks
                of their respective holders. Use of them does not imply an affiliation with or endorsement or sponsorship
                of the Company.
            </p>
        </div>
    </div>
</footer>