<header class="header-yancey">
    <div class="header">
        <div class="container">
            <div class="logo">
                <a href="/">
                    <img src="https://dfek4hcroxmvv.cloudfront.net/images/Scott_Yancey/brand-site/main_scott_logo2-min.png"
                        alt="yancey logo" width="243" height="30" class="alignnone size-auto" />
                </a>
            </div>
            <nav id="yancey">
                <ul class="primary-menu">
                    <li>
                        <a href="/paying-it-forward/">Paying It Forward</a>
                    </li>
                    <li>
                        <a href="/about-us">About Us</a>
                    </li>
                    <li>
                        <a href="/events">Events</a>
                    </li>
                    <li>
                        <a href="/diversification">Diversification</a>
                    </li>
                    <li>
                        <a href="/play-hard">Play Hard</a>
                    </li>
                    <ul>
            </nav>
        </div>
    </div>

    <div id="mobile-header">
        <div class="logo">
            <a href="/">
                <img src="https://dfek4hcroxmvv.cloudfront.net/images/Scott_Yancey/brand-site/main_scott_logo2-min.png"
                    alt="yancey logo" width="243" height="30" class="alignnone size-auto" />
            </a>
        </div>
        <div id="mobile-menu-toggle">
            <span class="mobile-toggle"></span>
        </div>
        <div class="mobile-nav-wrap">
            <nav id="mobile-yancey">
                <div class="menu-header-container">
                    <ul class="mobile-hamburg-menu">
                        <li>
                            <a href="/paying-it-forward/">Paying It Forward</a>
                        </li>
                        <li>
                            <a href="/about-us">About Us</a>
                        </li>
                        <li>
                            <a href="/events">Events</a>
                        </li>
                        <li>
                            <a href="/diversification">Diversification</a>
                        </li>
                        <li>
                            <a href="/play-hard">Play Hard</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>