<aside id="main-sidebar">
    <div class="page-book-offer">
        <img src="https://d3007r5yy4x6uw.cloudfront.net/web-dev/Scott-Yancey/images/main_book-1-min.png" alt="" width="480" height="610"
            class="aligncenter size-auto" />

        <p>The most
            <strong>powerful asset</strong> in your quest for personal freedom is
            <strong>knowledge</strong>. I’ve shared some of my secrets to success in real estate in “GO TIME.” Sign up below, and
            I’ll send you the first chapter INSTANTLY.</p>

        <div class="sidebar-book-form">
            <h5>SIGN UP TO GET MY FIRST FREE CHAPTER</h5>
            <form id="sub-book" name="sub-book">
                <ul class="sub-book-inputs">
                    <li>
                        <input id="sub-name" name="sub-name" type="text" placeholder="Name" required />
                    </li>
                    <li>
                        <input id="sub-email" name="sub-email" type="email" placeholder="Email" required />
                    </li>
                    <li>
                        <input id="sub-submit" name="sub-submit" type="submit" value="SUBMIT" />
                    </li>
                </ul>
            </form>
        </div>

        <div class="lets-connect">
            <h2 class="title-fancey">Let's Connect</h2>
            <a href="https://www.facebook.com/scotteyancey">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://twitter.com/Scott_Yancey/media">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="https://www.youtube.com/user/scottyanceyflippingv">
                <i class="fab fa-youtube"></i>
            </a>
            <a href="https://www.instagram.com/scott_yancey/">
                <i class="fab fa-instagram"></i>
            </a>
        </div>
    </div>
</aside>