<aside id="main-sidebar">
    <div class="page-book-offer">
        <h5>Search For Events</h5>
        <form id="reg-forward" name="reg-forward">
            <div class="reg-zip-input">
                <input name="reg-zip" id="reg-zip" type="text" placeholder="Zip / Postal Code" />
                <span id="reg-zip-error"></span>
            </div>
            <button type="submit">
                Get Your 2 Free Tickets
            </button>
        </form>
    </div>
</aside>