<section id="secondary-hero-wrap" class="about-hero">
    <div class="container">
        <!--<div class="sec-hero-content">
            <h2><span>"</span> DIVERSIFICATION</h2>
            <p>is protection against ignorance.<span>"</span></p>
            <span class="sub-author">–Warren Buffet</span>
        </div>-->
    </div>
</section>

<div id="primary" class="content-area">
    <main id="main" class="site-main">

        <article class="page type-page status-publish hentry">
            <header class="entry-header">
                <h1 class="entry-title">About Us</h1>
            </header>
            <div class="entry-content">
                <p>I’m not a college graduate. I went to probably five colleges, and I dropped out of them all. I have ADD.
                    I didn’t come from money. But you don’t need a lot of money to be a real estate investor, and that’s
                    what I teach people. I did my first big real estate deal on land—and I did it without using my own money.</p>

                <p>Today, my mantra, my message, is that anyone with the desire and work ethic can get started in real estate
                    without much money.</p>

                <p>I’m a real estate entrepreneur, an A&amp;E network TV star, a Trophy Truck racer and a charitable catalyst.
                    My first real estate investment was at age 14, and I never looked back. My career has moved into land
                    development, buying-and-holding, real estate flipping and diversifying my portfolio as the years have
                    gone by. Today, Amie and I have the kind of personal freedom we once only dreamed about.</p>

                <p>In a world seemingly full of reality-TV flipping posers and self-proclaimed “experts” who have minimal experience,
                    you can trust us as two people who’ve not only “been there, done that,” but we’ve done it with amazing
                    success. We’re thrilled to share our winning formulas with you!</p>

                <p>As passionate as we are about real estate, we’re just as passionate about paying it forward. We find time
                    to to give back to the community, and now spend a great deal of time helping others get started. You
                    can see it in our student’s success!</p>
            </div>
        </article>

        {{> _sidebar-a}}

    </main>
</div>

</div>