<section id="secondary-hero-wrap" class="diversification-hero">
    <div class="container">
        <div class="sec-hero-content">
            <span class="quote-title">" </span>
            <h2>
                Diversification
            </h2>
            <p>
                is protection against ignorance.
                <span>”</span>
            </p>
            <span class="sub-author">–Warren Buffet</span>
        </div>
    </div>
</section>

<div id="primary" class="content-area">
    <main id="main" class="site-main">

        <article class="page type-page status-publish hentry">
            <header class="entry-header">
                <h1 class="entry-title">Diversification</h1>
            </header>
            <div class="entry-content">
                <p>I have always tried to adopt the mindset outlined by Warren Buffet, “Diversification is protection against
                    ignorance”. I find that the best way to reduce risk is to diversify. You cannot stay embedded in one
                    stream of income and think that you're set for life. The minute you lose that source due to economic
                    changes, layoffs, or other instances, it is time for diversification to take over and carry the burden
                    of change. Some of my diversification interests include:</p>
                <ul class="basic-ul">
                    <li>Stock</li>
                    <li>Real Estate</li>
                    <li>Precious Metals</li>
                    <li>Crypto-currency and Art (to make it fun)</li>
                </ul>
                <p>
                    Much like diversifying financial investments, I have found that diversification is a powerful strategy to employ in my real
                    estate career. I have seen successes from commercial, residential, rental, and vacation properties. Each
                    property type presents an opportunity to be unique in design, financing, and renovating.
                </p>
            </div>
        </article>

        {{> _sidebar-a}}

    </main>
</div>

</div>