<section id="secondary-hero-wrap" class="events-hero">
    <div class="container">
        <!--<div class="sec-hero-content">
            <h2><span>"</span> DIVERSIFICATION</h2>
            <p>is protection against ignorance.<span>"</span></p>
            <span class="sub-author">–Warren Buffet</span>
        </div>-->
    </div>
</section>

<div id="primary" class="content-area">
    <main id="main" class="site-main">

        <article class="page type-page status-publish hentry">
            <header class="entry-header">
                <h1 class="entry-title">Events</h1>
            </header>
            <div class="entry-content">
                <p>
                    I was a $5-an-hour “errand runner” until my boss, Walter J. Plumb III, became my mentor. The key was that I got the training
                    I needed to make a success of the real estate game.
                </p>

                <p>
                    To facilitate mentorship for the masses, I’ve partnered with Response — a company dedicated to providing world-class financial
                    education tailored to the needs of goal-oriented individuals. Together, our training helps people find
                    a pathway to personal freedom. We provide free introductory events, and a host of other services, including
                    specialized classroom training and one-on-one help concentrating on your objectives and areas of focus.
                </p>

                <p>
                    At the free event, we hope you’ll be inspired to look closer at investing in real estate. Our real estate team can open the
                    door of possibilities for you, sharing insights on the market and how you can get in the game. You are
                    invited to participate and learn from these speakers to decide how you would like to move forward in
                    real estate investing.
                </p>

                <p>
                    Don’t put off your investment potential another day. Sign up for this live wealth-building event and join others, just like
                    you, to learn about how to invest smarter and stronger.
                </p>

                <p>
                    Response is driven by one overarching theme and purpose: the customer. They stand by the age old belief that the customer
                    is a company’s greatest asset. With that ideology comes the responsibility to maintain a quality working
                    relationship with those involved.
                </p>

                <p>
                    In an effort to continually improve as a training organization, they survey all of the Advanced Training Customers and receive
                    feedback about their experience. The speakers, mentors, trainers and customer service team lead the industry
                    in feedback scores.
                </p>

                <table class="experience-table">
                    <tr>
                        <th>Overall Experience</th>
                        <th>Would Recommend Training %</th>
                        <th>Surveys</th>
                    </tr>
                    <tr>
                        <td>4.76</td>
                        <td>98.14%</td>
                        <td>5,095</td>
                    </tr>
                </table>

            </div>
        </article>

        {{> _sidebar-b}}

    </main>
</div>
</div>