<div id="primary" class="content-area">
    <main id="main" class="site-main">

        <article class="hentry">
            <header class="entry-header">
                <h1 class="entry-title">FAQ</h1>
            </header>
            <div class="entry-content">
                <div class="faq-content">
                    <div class="wrap">
                        <div class="faq">
                            <h3>General Questions</h3>
                            <ul>
                                <li>
                                    <input type="checkbox" checked>
                                    <i></i>
                                    <h4>Who are we?</h4>
                                    <p>We are a global training and education company. We teach entrepreneurs and investors
                                        how to grow and protect their income. We're heavily involved in traditional avenues,
                                        such as real estate and stocks, but we also provide training on unique topics relevant
                                        to today's economy - and tomorrow's.
                                        <br />
                                        <br /> Our customers learn how to profit in real estate without spending their own money
                                        on properties or the time on renovations. They might find out how to tap into capital
                                        they didn't know they have. Customers learn they don't need to settle for small returns
                                        in their retirement or brokerage accounts - there are a variety of better options.
                                        Many more topics are covered and are available at whatever detail you want. Our goal
                                        is to give you incredible training, resources, and help along the way so that you
                                        can get more out of life and find personal freedom.
                                    </p>
                                </li>
                                <li>
                                    <input type="checkbox" checked>
                                    <i></i>
                                    <h4>Will the celebrity or guru be at the event?</h4>
                                    <p>
                                        As much as every celebrity or guru would like to attend and personally meet every person, they do not attend most events.
                                        They have partnered with our experienced trainers, who will host the event and guide
                                        you through the education.
                                    </p>
                                </li>
                                <li>
                                    <input type="checkbox" checked>
                                    <i></i>
                                    <h4>When will I get the gifts?</h4>
                                    <p>
                                        We’ve found that some people need that extra little push to get them moving. The free event, will open your mind to a wide
                                        array of possibilities and opportunities for learning more. Free gifts will be available
                                        at the door when you attend the event. Sometimes we do limited-time promotions and
                                        feature various prizes. Each promotion has specific entry and selection rules. Please
                                        see the promotion terms on your advertisement or ticket for more information.
                                    </p>
                                </li>
                                <li>
                                    <input type="checkbox" checked>
                                    <i></i>
                                    <h4>Why/how is this event free?</h4>
                                    <p>
                                        We are a global training and education company providing proven avenues for growing and protecting income. We've served customers
                                        in the U.S. and overseas for several years and have found what works and what doesn't.
                                        Our customers rate their experience with us higher than many Fortune 500 companies,
                                        and we believe you will too.
                                        <br />
                                        <br /> This event will open your mind to a wide array of possibilities and how people just
                                        like you are capitalizing on unique opportunities. Following the event, you'll have
                                        an opportunity to learn more through additional education. We promise a fun and informative
                                        event.
                                    </p>
                                </li>
                                <li>
                                    <input type="checkbox" checked>
                                    <i></i>
                                    <h4>I need to make changes to my reservation. Who should I call?</h4>
                                    <p>
                                        If you won't be able to make it, need to change your guest name, or if you just simply have some questions about the event,
                                        please give us a call at
                                        <a href="tel:+1-877-207-8148">877-207-8148</a>.
                                    </p>
                                </li>
                            </ul>
                        </div>
                        <div class="faq">
                            <h3>Preparing for the Event</h3>
                            <ul>
                                <li>
                                    <input type="checkbox" checked>
                                    <i></i>
                                    <h4>Is there a dress code? What should I wear?</h4>
                                    <p>
                                        Wear whatever you're comfortable in. The important thing is that you come ready to learn. We'll be dressed in matching slacks
                                        and polos so we're easy to spot - most of our guests wear business casual for a positive
                                        networking experience.
                                    </p>
                                </li>
                                <li>
                                    <input type="checkbox" checked>
                                    <i></i>
                                    <h4>What should I bring with me?</h4>
                                    <p>
                                        Bring your tickets to get in and arrive 15-30 minutes early. We'll email you a copy, so check your junk/spam folder just
                                        in case. If you don't see them, or you're unable to print them, no worries - we will
                                        have your name on file. We'll have notepads and pens for note-taking.
                                    </p>
                                </li>
                                <li>
                                    <input type="checkbox" checked>
                                    <i></i>
                                    <h4>Should I plan to pay for parking?</h4>
                                    <p>
                                        Yes. The sponsors of the event will not validate or reimburse guests for parking fees. If you want to know about the fees
                                        at the venue or options, give us a call at
                                        <a
                                            href="tel:+1-877-207-8148">877-207-8148</a>, or call the venue directly.
                                    </p>
                                </li>
                                <li>
                                    <input type="checkbox" checked>
                                    <i></i>
                                    <h4>Should I bring a business partner, spouse, child?</h4>
                                    <p>
                                        Business partners and significant others are important to your success as an entrepreneur and investor. We encourage you
                                        to bring them if you can. Children, however, will not be admitted. Seating is limited,
                                        and we only have enough spots for those with tickets who are at least 18 years of
                                        age. You can tell them all about it when you get home.
                                    </p>
                                </li>
                            </ul>
                        </div>
                        <div class="faq">
                            <h3>At the Event</h3>
                            <ul>
                                <li>
                                    <input type="checkbox" checked>
                                    <i></i>
                                    <h4>What should I be prepared to learn?</h4>
                                    <p>
                                        Come ready to learn a lot. We're looking for entrepreneurs, investors and others who want to grow and protect their income.
                                        We're a leader in training and education industries and our guests leave with a fresh
                                        perspective on a variety of avenues. Come with a positive, open mind and be ready
                                        to take a lot of notes!
                                    </p>
                                </li>
                                <li>
                                    <input type="checkbox" checked>
                                    <i></i>
                                    <h4>How early should I get there and when does it end?</h4>
                                    <p>
                                        Our events fill up quickly so plan on arriving 15-30 minutes early (remember to account for time to park and find the conference
                                        room). You will need to check in with our staff. If you arrive late, there's a chance
                                        we'll be out of space.
                                        <br />
                                        <br /> Out of respect for our guests, we will start on-time, but you will probably have
                                        a few minutes to get to know our staff and mingle with like-minded entrepreneurs.
                                        The event will last approximately 3 hours, with the keynote event taking place the
                                        first 45-60 minutes.
                                    </p>
                                </li>
                                <li>
                                    <input type="checkbox" checked>
                                    <i></i>
                                    <h4>Will there be meals or refreshments?</h4>
                                    <p>
                                        Some events include lunch of dinner (check your ticket to confirm). If your ticket shows that a meal is included, please
                                        plan to be served after the keynote presentation (close to 90 minutes after the start
                                        time). Meal variety will vary and depend on the venue where the event will be held
                                        - meals usually include sandwiches, chips, cookies, and drinks. If you're really
                                        hungry, you may want to grab a small snack beforehand, so you're not starving and
                                        distracted until meals are served.
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </article>

        {{> _sidebar-a}}

    </main>
</div>