<div id="primary" class="content-area">
    <main id="main" class="site-main">

        <article class="hentry">
            <header class="entry-header">
                <h1 class="entry-title">Flipping Vegas</h1>
            </header>
            <div class="entry-content">
                <div class="flipping-vid">
                    <img src="https://dfek4hcroxmvv.cloudfront.net/images/Scott_Yancey/brand-site/Flipping_Vegas_logo_with_Scott_Yancey.jpg" alt="Flipping_Vegas_logo_with_Scott_Yancey" width="360" height: 358px; class="alignleft size-full wp-image-823" />FLIPPING VEGAS follows Scott and his team – wife and interior designer Amie, and a host of wild project managers and beautiful real estate agents – as they work to breathe new life into run down properties. Visit the <a href="http://www.aetv.com/shows/flipping-vegas" target="_blank">FLIPPING VEGAS WEBSITE</a>.
                </div>
            </div>
        </article>

        {{> _sidebar-a}}

    </main>
</div>