<section id="home-slider">

    <div class='slider-wrap'>
        <div>
            <div class="hero-slide slide-1">
                <img src="https://dfek4hcroxmvv.cloudfront.net/images/Scott_Yancey/brand-site/main_bkg-min.png" class="alginnone size-auto mbl-img" />
                <div class="hero-content">
                    <div class="go-time-content">
                        <h2 class="slider-title">Go Time</h2>
                        <p class="slider-sub-title">
                            The most powerful asset in your quest for personal freedom is knowledge.
                        </p>
                        <p class="slider-p">
                            I’ve shared some of my secrets to success in real estate in “GO TIME.” Sign up below, and
                            I’ll send you the first chapter
                            INSTANTLY.
                        </p>
                    </div>
                    <div class="go-time-book">
                        <img src="https://dfek4hcroxmvv.cloudfront.net/images/Scott_Yancey/brand-site/main_book-1-min.png"
                            alt="rob douglas" width="480" height="610" class="alginnone size-auto" />
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="hero-slide slide-2">
                <img src="https://dfek4hcroxmvv.cloudfront.net/images/Scott_Yancey/brand-site/slide_education-min.png"
                    class="alginnone size-auto mbl-img" />
                <div class="hero-content">
                    <h2 class="slider-title">Education</h2>
                    <p class="slider-p">
                        The one thing I know is that no one achieves lasting success in real estate without knowledge —
                        and knowledge can be obtained
                        in the fastest manner by education.
                    </p>
                </div>
            </div>
        </div>

        <div>
            <div class="hero-slide slide-3">
                <img src="https://dfek4hcroxmvv.cloudfront.net/images/Scott_Yancey/brand-site/slide_giving_back-min.png"
                    class="alginnone size-auto mbl-img" />
                <div class="hero-content">
                    <h2 class="slider-title">Giving Back</h2>
                    <p class="slider-p">
                        One of the great advantages of personal freedom is just that: the freedom to do what I enjoy
                        doing and to give back in appreciation
                        of the blessings I’ve received.
                    </p>
                </div>
            </div>
        </div>

        <div>
            <div class="hero-slide slide-4">
                <img src="https://dfek4hcroxmvv.cloudfront.net/images/Scott_Yancey/brand-site/slide_diversification-min.png"
                    class="alginnone size-auto mbl-img" />
                <div class="hero-content">
                    <h2 class="slider-title">Diversification</h2>
                    <p class="slider-p">
                        While I believe in real estate as an investing platform — and strongly recommend it to everyone
                        — I’ve also learned that
                        diversification is an important strategy to protect and grow wealth.
                    </p>
                </div>
            </div>
        </div>

    </div>

    <div class="hero-overlay">
        <div class="form-wrap">
            <h3 class="form-title">
                <strong>SIGN UP TO GET MY FIRST CHAPTER FREE</strong>
            </h3>
            <form id="slide-contact-form">
                <ul class="slide-fields">
                    <li>
                        <input id="slider-name" name="name" type="text" placeholder="Name" required />
                    </li>
                    <li>
                        <input id="slider-email" name="email" type="email" placeholder="Email" required />
                    </li>
                    <li>
                        <input id="slider-submit" name="submit" type="submit" value="Submit" />
                    </li>
                </ul>
            </form>
        </div>
    </div>

</section>

<section id="seen-on-wrap">
    <div class="container">
        <h3 class="section-title">AS SEEN ON THE HIT TV SHOW <em>FLIPPING VEGAS</em> **</h3>
        <img src="https://s3-us-west-2.amazonaws.com/educationcentercontent/web-dev/Scott-Yancey/images/FlippingVegasLogo-min.png"
            alt="tv logos" width="450" height="110" class="size-auto" />
        <img src="https://s3-us-west-2.amazonaws.com/response-web/images/Scott_Yancey/brand-site/ae_logo-min.png" alt="tv logos"
            width="175" height="110" class="size-auto" />
    </div>
</section>

<section id="education-wrap">
    <a name="fold-jump"></a>
    <div class="container">
        <h3 class="section-title">EDUCATION</h3>

        <p class="big-p">
            The one thing I know is that no one achieves lasting success in real estate without knowledge — and
            knowledge can be obtained
            in the fastest manner by education.
        </p>

        <p class="big-p">
            I’ve partnered with Response, a group with an impressive track record of providing world-class financial
            education. They
            share my values in finding serious investors and giving them an incredible experience – teaching them sound
            principles
            coupled with industry-grade software, tools, and access to a network of financial partners. Together, we
            produce
            live trainings all of the country to find those looking to grow and protect their wealth. To learn more
            about
            the education, go to:
            <a href="https://response.com">response.com</a>.
        </p>
        <a class="button-main-centered" href="https://event.yanceyfreebook.com/?lc=SYWEB-NAV">REGISTER</a>
    </div>
</section>

<section id="about-wrap">
    <div class="container">
        <div class="about-content">
            <h2 class="rock-title">Scott &amp; Amie</h2>
            <p class="big-p">
                We have become far more recognizable with the success of our hit A&E television show Flipping Vegas,
                but what may surprise
                viewers is that I have been working in real estate for more than 20 years! I have authored books and
                educated
                crowds of people. The hard work put into an ever changing business has paid off, and now we are doing
                our
                best to pay it forward
            </p>
        </div>
        <div class="about-img">
            <img src="https://dfek4hcroxmvv.cloudfront.net/images/Scott_Yancey/brand-site/Mask-Group-1-min.png" alt="about scott and amy"
                width="487" height="520" class="alignnone size-auto" />
        </div>
    </div>
</section>

<section id="business-logos">
    <div class="container">
        <ul class="logos">
            <li>
                <a href="https://www.forbes.com/sites/cherylsnappconner/2016/12/10/selling-by-story-telling-the-best-stories-succeed-by-putting-customers-first/#3cef47ac5ee7">
                    <img src="https://dfek4hcroxmvv.cloudfront.net/images/Scott_Yancey/brand-site/forbes-min.png" alt="entrepreneur"
                        width="130" height="31" class="alignnone size-auto" />
                </a>
            </li>
            <li>
                <a href="https://www.huffingtonpost.com/author/eprete-880">
                    <img src="https://dfek4hcroxmvv.cloudfront.net/images/Scott_Yancey/brand-site/huffington-post-min.png"
                        alt="inc" width="255" height="31" class="alignnone size-auto" />
                </a>
            </li>
            <!--<li>
                <a href="http://www.aetv.com/shows/flipping-vegas/cast/scott-yancey"><img src="https://dfek4hcroxmvv.cloudfront.net/images/Scott_Yancey/brand-site/ae-min.png" alt="forbes" width="66" height="31" class="alignnone size-auto" /></a>
            </li>-->
        </ul>
    </div>
</section>

<section id="giving-back-wrap">
    <div class="container">
        <div class="giving-back-content">
            <h3 class="section-title">GIVING BACK AND HAVING FUN</h3>
            <p class="big-p">
                One of the great advantages of
                <strong>personal freedom</strong> is just that: the
                <strong>freedom</strong> to do what I enjoy doing and to
                <strong>give back</strong> in appreciation of the blessings I’ve received.
            </p>
        </div>
    </div>
    <div class="give-back-feature-wrap">
        <div class="give-back-feature">
            <img src="https://dfek4hcroxmvv.cloudfront.net/images/Scott_Yancey/brand-site/yancey-v2-veterans-min.png"
                alt="veteran" width="772" height="687" class="alignnone size-auto" />
            <p class="big-p">
                One of the ways in which I am privileged to GIVE BACK is to help our VETERANS.
                <a href="/paying-it-forward">CLICK HERE</a> to learn more…
            </p>
        </div>
        <div class="give-back-feature">
            <img src="https://dfek4hcroxmvv.cloudfront.net/images/Scott_Yancey/brand-site/truck_01a-min.jpg" alt="goliath motorsports"
                width="772" height="687" class="alignnone size-auto" />
            <p class="big-p">
                I also believe in HAVING FUN as part of personal freedom. My passion there is in racing UTVs.
                <a href="/play-hard">CLICK HERE</a> to see more about Goliath Racing.
            </p>
        </div>
    </div>
</section>

<section id="diversified-wrap">
    <div class="container">
        <h3 class="section-title">DIVERSIFIED INVESTMENTS</h3>
        <p class="big-p">
            While I believe in real estate as an investing platform - and strongly recommend it to everyone - I’ve also
            learned that
            diversification is an important strategy to grow wealth and protect it.
        </p>
        <p class="big-p">
            It’s the smartest way to build long term wealth. And that’s why our training includes a wide range of
            possibilities, to make
            sure you’re informed, aware, and able to take advantage of changing situations.
        </p>
        <a class="button-main-centered" href="https://event.yanceyfreebook.com/?lc=SYWEB-NAV">REGISTER</a>
    </div>
</section>