<div id="primary" class="content-area">
    <main id="main" class="site-main">

        <article class="hentry">
            <header class="entry-header">
                <h1 class="entry-title">Flipping Vegas</h1>
            </header>
            <div class="entry-content">
                <h2 class="underline">Interviews &#038; Online Articles</h2>
                <div class="boxes">
                    <h3>The Huffington Post</h3>
                    <h4>&#8220;Scott Yancey&#8221;</h4>
                    <p>Online Source:
                        <br /> huffingtonpost.com
                        <br /> WRITTEN ON MARCH 21, 2016 BY
                        <br /> Scott Yancey</p>
                    <p>
                        <a href="http://www.huffingtonpost.com/scott-yancey/" target=_ "blank">Article Here</a>
                </div>
                <div class="boxes">
                    <h3>Organize and Decorate Everything</h3>
                    <h4>&#8220;A Day with Scott and Amie of Flipping Vegas&#8221;</h4>
                    <p></p>
                    <p>Online Source:
                        <br /> organizeyourstuffnow.com
                        <br /> WRITTEN ON JUNE 27, 2014 BY
                        <br /> LEANNEJA
                    </p>
                    <p>
                        <a href="http://organizeyourstuffnow.com/wordpress/amie-scott-yancey-review" target=_ "blank">Article Here</a>
                </div>
                <div class="boxes">
                    <h3>Midland Reporter Telgram</h3>
                    <h4>&#8220;Scott Yancey: Ignore data, invest in Midland real estate&#8221;</h4>
                    <p></p>
                    <p>Online Source:
                        <br /> mrt.com
                        <br /> WRITTEN ON MAY 11, 2014 BY
                        <br /> Cale Ottens</p>
                    <p>
                        <a href="http://www.mrt.com/top_stories/article_fa34634a-d950-11e3-b3b0-0019bb2963f4.html" target=_ "blank">Article Here</a>
                </div>
                <div class="boxes">
                    <h3>Vegas Seven</h3>
                    <h4>&#8220;Seven Questions for Scott Yancey&#8221;</h4>
                    <p>Online Source:
                        <br /> vegasseven.com
                        <br /> WRITTEN ON MAY 28, 2014 BY
                        <br /> Jessi Acuña</p>
                    <p>
                        <a href="http://vegasseven.com/2014/05/28/seven-questions-scott-yancey/" target=_ "blank">Article Here</a>
                </div>
            </div>
        </article>

        {{> _sidebar-a}}

    </main>
</div>