<section id="secondary-hero-wrap" class="pay-forward-hero">
    <div class="container">
        <div class="sec-hero-content">
            <p>True success begins the moment you start</p>
            <h2>Giving Back</h2>
        </div>
    </div>
</section>

<div id="primary" class="content-area">
    <main id="main" class="site-main">

        <article class="hentry">
            <header class="entry-header">
                <h1 class="entry-title">Paying It Forward</h1>
            </header>
            <div class="entry-content">
                <p>Our incredible success has been—and remains—a tremendous blessing. We believe our accomplishments include
                    a responsibility to help others by “paying it forward,” and helping those in need. That’s why we worked
                    with others to buy and refurbish a home—free and clear—for a military veteran severely injured serving
                    our country. And it’s why we support many charitable efforts in Las Vegas, Malibu and around the world.</p>
                <ul class="pay-forward-list">
                    <h2>Veterans</h2>
                    <li>
                        <p>White Heart</p>
                        <a href="http://www.whiteheart.org" target="_blank">www.whiteheart.org</a>
                    </li>
                    <li>
                        <p>War Fighter Made</p>
                        <a href="https://www.warfightermade.org/" target="_blank">www.warfightermade.org</a>
                    </li>
                </ul>
                <ul class="pay-forward-list">
                    <h2>Animals</h2>
                    <li>
                        <p>Best Friends Animal Sanctuary</p>
                        <a href="https://www.bestfriends.org/" target="_blank">www.bestfriends.org</a>
                    </li>
                    <li>
                        <p>Big Heart Ranch</p>
                        <a href="http://www.bigheartranch.org" target="_blank">www.bigheartranch.org</a>
                    </li>
                    <li>
                        <p>The Jane Goodall Institute</p>
                        <a href="http://www.janegoodall.org/" target="_blank">www.janegoodall.org</a>
                    </li>
                    <li>
                        <p>Sky Dog Ranch</p>
                        <a href="http://www.skydogranch.org" target="_blank">www.skydogranch.org</a>
                    </li>
                </ul>
                <ul class="pay-forward-list">
                    <h2>Children &amp; Families</h2>
                    <li>
                        <p>Boy Scouts Of America</p>
                        <a href="https://www.scouting.org/" target="_blank">www.scouting.org</a>
                    </li>
                    <li>
                        <p>Big Brothers Big Sisters Of America</p>
                        <a href="https://www.bbbs.org/" target="_blank">www.bbbs.org</a>
                    </li>
                    <li>
                        <p>Boys &amp; Girls Club Of America</p>
                        <a href="https://www.bgca.org/" target="_blank">www.bgca.org</a>
                    </li>
                    <li>
                        <p>Habitat for Humanity</p>
                        <a href="https://www.habitat.org/" target="_blank">www.habitat.org</a>
                    </li>
                </ul>
                <ul class="pay-forward-list">
                    <h2>The Environment</h2>
                    <li>
                        <p>Surf Aid</p>
                        <a href="http://www.surfaid.org" target="_blank">www.surfaid.org</a>
                    </li>
                    <li>
                        <p>Sea Shepherd</p>
                        <a href="https://seashepherd.org/" target="_blank">www.seashepherd.org</a>
                    </li>
                    <li>
                        <p>Charity Water</p>
                        <a href="https://www.charitywater.org/" target="_blank">www.charitywater.org</a>
                    </li>
                </ul>
            </div>
        </article>

        {{> _sidebar-a}}

    </main>
</div>