<section id="home-slider">

    <div class='slider-wrap'>

        <div>
            <div class="hero-slide">
                <img src="https://dfek4hcroxmvv.cloudfront.net/images/Scott_Yancey/brand-site/play_hard_main_1-min.png" alt="rob douglas" width="1560"
                    height="918" class="alginnone size-auto" />
            </div>
        </div>

        <div>
            <div class="hero-slide">
                <img src="https://dfek4hcroxmvv.cloudfront.net/images/Scott_Yancey/brand-site/play_hard_main_2-min.png" alt="rob douglas" width="1560"
                    height="918" class="alginnone size-auto" />
            </div>
        </div>

        <div>
            <div class="hero-slide">
                <img src="https://dfek4hcroxmvv.cloudfront.net/images/Scott_Yancey/brand-site/play_hard_main_3-min.png" alt="rob douglas" width="1560"
                    height="918" class="alginnone size-auto" />
            </div>
        </div>

    </div>

    <div class="sec-hero-content hero-content-right-play">
        <p>Still making money while</p>
        <h2>Playing Hard!</h2>
    </div>

</section>

<div id="primary" class="content-area">
    <main id="main" class="site-main">

        <article class="page type-page status-publish hentry">
            <header class="entry-header">
                <h1 class="entry-title">Play Hard</h1>
            </header>
            <div class="entry-content">
                <p>When Amie and I take on a project, we are “all in,” doing whatever it takes to successfully complete a task.
                    And when we have some down time, my recreation gets a similar level of commitment. Watch my videos below
                    to see how hard I play when the work is done!</p>
                <!--<div class="video-wrap">
                    <iframe width="100%" height="300" src="https://www.youtube.com/embed/W9_voKF0BWo" frameborder="0" allowfullscreen="" id="_dytid_3481"></iframe>
                    <p>Scott Yancey racing for Goliath Motorsports at the 2017 Mint 400</p>
                </div>-->
                <div class="play-lightbox-wrap">
                    <a href="https://dfek4hcroxmvv.cloudfront.net/images/Scott_Yancey/brand-site/big_play_17-min.png" class="swipebox" title="My Caption">
                        <img class="size-auto" src="https://dfek4hcroxmvv.cloudfront.net/images/Scott_Yancey/brand-site/small_play_17-min.png" alt="image">
                    </a>
                    <a href="https://dfek4hcroxmvv.cloudfront.net/images/Scott_Yancey/brand-site/big_play_18-min.png" class="swipebox" title="My Caption">
                        <img class="size-auto"src="https://dfek4hcroxmvv.cloudfront.net/images/Scott_Yancey/brand-site/small_play_18-min.png" alt="image">
                    </a>
                    <a href="https://dfek4hcroxmvv.cloudfront.net/images/Scott_Yancey/brand-site/big_play_19-min.png" class="swipebox" title="My Caption">
                        <img class="size-auto" src="https://dfek4hcroxmvv.cloudfront.net/images/Scott_Yancey/brand-site/small_play_19-min.png" alt="image">
                    </a>
                    <a href="https://dfek4hcroxmvv.cloudfront.net/images/Scott_Yancey/brand-site/big_play_01-min.jpg" class="swipebox" title="My Caption">
                        <img class="size-auto" src="https://dfek4hcroxmvv.cloudfront.net/images/Scott_Yancey/brand-site/small_play_01-min.png" alt="image">
                    </a>
                    <a href="https://dfek4hcroxmvv.cloudfront.net/images/Scott_Yancey/brand-site/big_play_02-min.jpg" class="swipebox" title="My Caption">
                        <img class="size-auto" src="https://dfek4hcroxmvv.cloudfront.net/images/Scott_Yancey/brand-site/small_play_02-min.png" alt="image">
                    </a>
                    <a href="https://dfek4hcroxmvv.cloudfront.net/images/Scott_Yancey/brand-site/big_play_04-min.jpg" class="swipebox" title="My Caption">
                        <img class="size-auto" src="https://dfek4hcroxmvv.cloudfront.net/images/Scott_Yancey/brand-site/small_play_04-min.png" alt="image">
                    </a>
                    <a href="https://dfek4hcroxmvv.cloudfront.net/images/Scott_Yancey/brand-site/big_play_05-min.jpg" class="swipebox" title="My Caption">
                        <img class="size-auto" src="https://dfek4hcroxmvv.cloudfront.net/images/Scott_Yancey/brand-site/small_play_05-min.png" alt="image">
                    </a>
                    <a href="https://dfek4hcroxmvv.cloudfront.net/images/Scott_Yancey/brand-site/big_play_06-min.jpg" class="swipebox" title="My Caption">
                        <img class="size-auto" src="https://dfek4hcroxmvv.cloudfront.net/images/Scott_Yancey/brand-site/small_play_06-min.png" alt="image">
                    </a>
                    <a href="https://dfek4hcroxmvv.cloudfront.net/images/Scott_Yancey/brand-site/big_play_07-min.png" class="swipebox" title="My Caption">
                        <img class="size-auto" src="https://dfek4hcroxmvv.cloudfront.net/images/Scott_Yancey/brand-site/small_play_07-min.png" alt="image">
                    </a>
                    <a href="https://dfek4hcroxmvv.cloudfront.net/images/Scott_Yancey/brand-site/big_play_08-min.png" class="swipebox" title="My Caption">
                        <img class="size-auto" src="https://dfek4hcroxmvv.cloudfront.net/images/Scott_Yancey/brand-site/small_play_08-min.png" alt="image">
                    </a>
                    <a href="https://dfek4hcroxmvv.cloudfront.net/images/Scott_Yancey/brand-site/big_play_09-min.png" class="swipebox" title="My Caption">
                        <img class="size-auto" src="https://dfek4hcroxmvv.cloudfront.net/images/Scott_Yancey/brand-site/small_play_09-min.png" alt="image">
                    </a>
                    <a href="https://dfek4hcroxmvv.cloudfront.net/images/Scott_Yancey/brand-site/big_play_10-min.jpeg" class="swipebox" title="My Caption">
                        <img class="size-auto" src="https://dfek4hcroxmvv.cloudfront.net/images/Scott_Yancey/brand-site/small_play_10-min.png" alt="image">
                    </a>
                    <a href="https://dfek4hcroxmvv.cloudfront.net/images/Scott_Yancey/brand-site/big_play_11-min.jpeg" class="swipebox" title="My Caption">
                        <img class="size-auto" src="https://dfek4hcroxmvv.cloudfront.net/images/Scott_Yancey/brand-site/small_play_11-min.png" alt="image">
                    </a>
                    <a href="https://dfek4hcroxmvv.cloudfront.net/images/Scott_Yancey/brand-site/big_play_12-min.jpeg" class="swipebox" title="My Caption">
                        <img class="size-auto" src="https://dfek4hcroxmvv.cloudfront.net/images/Scott_Yancey/brand-site/small_play_12-min.jpg" alt="image">
                    </a>
                    <a href="https://dfek4hcroxmvv.cloudfront.net/images/Scott_Yancey/brand-site/big_play_13-min.jpeg" class="swipebox" title="My Caption">
                        <img class="size-auto" src="https://dfek4hcroxmvv.cloudfront.net/images/Scott_Yancey/brand-site/small_play_13-min.png" alt="image">
                    </a>
                    <a href="https://dfek4hcroxmvv.cloudfront.net/images/Scott_Yancey/brand-site/big_play_14-1-min.jpeg" class="swipebox" title="My Caption">
                        <img class="size-auto" src="https://dfek4hcroxmvv.cloudfront.net/images/Scott_Yancey/brand-site/small_play_14-1-min.png" alt="image">
                    </a>
                    <a href="https://dfek4hcroxmvv.cloudfront.net/images/Scott_Yancey/brand-site/big_play_14-2-min.jpeg" class="swipebox" title="My Caption">
                        <img class="size-auto" src="https://dfek4hcroxmvv.cloudfront.net/images/Scott_Yancey/brand-site/small_play_14-2-min.png" alt="image">
                    </a>
                    <a href="https://dfek4hcroxmvv.cloudfront.net/images/Scott_Yancey/brand-site/big_play_15-min.jpeg" class="swipebox" title="My Caption">
                        <img class="size-auto" src="https://dfek4hcroxmvv.cloudfront.net/images/Scott_Yancey/brand-site/small_play_15-min.png" alt="image">
                    </a>
                    <a href="https://dfek4hcroxmvv.cloudfront.net/images/Scott_Yancey/brand-site/big_play_16-min.jpeg" class="swipebox" title="My Caption">
                        <img class="size-auto" src="https://dfek4hcroxmvv.cloudfront.net/images/Scott_Yancey/brand-site/small_play_16-min.png" alt="image">
                    </a>
                    <a href="https://dfek4hcroxmvv.cloudfront.net/images/Scott_Yancey/brand-site/big_play_20-min.jpeg" class="swipebox" title="My Caption">
                        <img class="size-auto" src="https://dfek4hcroxmvv.cloudfront.net/images/Scott_Yancey/brand-site/small_play_20-min.png" alt="image">
                    </a>
                    <a href="https://dfek4hcroxmvv.cloudfront.net/images/Scott_Yancey/brand-site/big_play_21-min.jpeg" class="swipebox" title="My Caption">
                        <img class="size-auto" src="https://dfek4hcroxmvv.cloudfront.net/images/Scott_Yancey/brand-site/small_play_21-min.png" alt="image">
                    </a>
                    <a href="https://dfek4hcroxmvv.cloudfront.net/images/Scott_Yancey/brand-site/big_play_22-min.jpeg" class="swipebox" title="My Caption">
                        <img class="size-auto" src="https://dfek4hcroxmvv.cloudfront.net/images/Scott_Yancey/brand-site/small_play_22-min.png" alt="image">
                    </a>
                    <a href="https://dfek4hcroxmvv.cloudfront.net/images/Scott_Yancey/brand-site/big_play_23-min.jpeg" class="swipebox" title="My Caption">
                        <img class="size-auto" src="https://dfek4hcroxmvv.cloudfront.net/images/Scott_Yancey/brand-site/small_play_23-min.png" alt="image">
                    </a>
                    <a href="https://dfek4hcroxmvv.cloudfront.net/images/Scott_Yancey/brand-site/big_play_24-min.jpeg" class="swipebox" title="My Caption">
                        <img class="size-auto" src="https://dfek4hcroxmvv.cloudfront.net/images/Scott_Yancey/brand-site/small_play_24-min.png" alt="image">
                    </a>
                    <a href="https://dfek4hcroxmvv.cloudfront.net/images/Scott_Yancey/brand-site/big_play_25-min.jpeg" class="swipebox" title="My Caption">
                        <img class="size-auto" src="https://dfek4hcroxmvv.cloudfront.net/images/Scott_Yancey/brand-site/small_play_25-min.png" alt="image">
                    </a>
                    <a href="https://dfek4hcroxmvv.cloudfront.net/images/Scott_Yancey/brand-site/big_play_26-min.jpeg" class="swipebox" title="My Caption">
                        <img class="size-auto" src="https://dfek4hcroxmvv.cloudfront.net/images/Scott_Yancey/brand-site/small_play_26-min.png" alt="image">
                    </a>
                </div>
            </div>
        </article>

        {{> _sidebar-a}}

    </main>
</div>