<div id="primary" class="content-area">
    <main id="main" class="site-main">

        <article class="hentry-privacy">

            <div class="entry-content">
                <p>Last Updated May 18, 2016</p>
                <p>
                    <strong>Your Use of This Website is Governed by These Terms and Conditions</strong>
                </p>
                <p>
                    Please take a few minutes to review these Terms and Conditions. Your use of this website constitutes your agreement that
                    you are at least 18 years of age, and your agreement to follow these rules and to be bound by them. If
                    you do not agree with any of these Terms and Conditions, do not use the website.
                </p>
                <p>
                    <strong>These Terms and Conditions May Change</strong>
                </p>
                <p>
                    The Company reserves the right to update or modify these Terms and Conditions at any time without prior notice. If at any
                    time you deem the modification to be unacceptable to you, termination of this agreement is your only
                    recourse. Your use of this website following any such change constitutes your agreement to follow and
                    be bound by the Terms and Conditions as changed. For this reason, we encourage you to review these Terms
                    and Conditions whenever you use this website.
                </p>
                <p>
                    <strong>Definitions</strong>
                </p>
                <p>
                    As used in this Agreement, the following definitions will apply: “Agreement” shall mean these Terms and Conditions (including
                    any terms incorporated by hyperlink). “Client”, “I”, “you” or “your” shall mean the person or persons
                    using, or subscribing to this website. “We”, “us”, “the company” or “our”, shall mean
                    <a href="http://propertyassociation.com/">http://affluenceedu.com</a> and its owners. “Site” shall mean
                    a World Wide Web Site, and depending on the context, refers to the back office administration web site.
                </p>
                <p>
                    <strong>Notification</strong>
                </p>
                <p>
                    These Terms and Conditions serve as your purchase agreement and are notification of such.
                </p>
                <p>
                    <strong>Chargebacks and Reversals</strong>
                </p>
                <p>
                    We handle all chargebacks and reversals as potential cases of fraudulent use of our services and/or theft of services. In
                    cases where we have provided a service and we have verified that a client has received a kit and/or received
                    a password to our site(s), whether or not they have used the site in any way, possible actions taken
                    by the company may include disabling access to your account, filing a complaint with the Internet Crimes
                    Bureau or local authorities, or reporting the incident to the appropriate authorities in your state to
                    investigate theft of services. Please be advised that all activity and IP address information is being
                    monitored on the site. This information may be used in a civil and criminal case against a client if
                    there is fraudulent use or theft of services.
                </p>
                <p>
                    <strong>Copyright Notice</strong>
                </p>
                <p>
                    All of the Content you see and hear on the website, including, for example, all of the page headers, images, illustrations,
                    graphics, audio clips, video clips and text, are subject to trademark, service mark, trade dress, copyright
                    and/or other intellectual property rights or licenses held by the Company, one of its affiliates or by
                    third parties who have licensed their materials to the Company.
                </p>
                <p>
                    The Content of this website, and the site as a whole, is intended solely for personal, non-commercial use by the users of
                    our site. You may download, print and store selected portions of the Content, provided you (1) only use
                    these copies of the Content for your own personal, non-commercial use, (2) do not copy or post the Content
                    on any network computer or broadcast the Content in any media, and (3) do not modify or alter the Content
                    in any way, or delete or change any copyright or trademark notice.
                </p>
                <p>
                    No right, title or interest in any downloaded materials is transferred to you as a result of any such downloading. The Company
                    reserves complete title and full intellectual property rights in any Content you download from this website.
                </p>
                <p>
                    Except as noted above, you may not copy, download, reproduce, modify, publish, distribute, transmit, transfer or create derivative
                    works from the Content without first obtaining written permission from the Company.
                </p>
                <p>
                    <strong>Trademarks &amp; Registered Trademarks</strong>
                </p>
                <p>
                    All logos and advertisements are or may be registered trademarks of their respective owners. No relationship of any kind,
                    expressed or implied may exist between the Company and the owners of said trademarks.
                </p>
                <p>
                    <strong>Registration; User Names and Passwords</strong>
                </p>
                <p>
                    You may be required to register with the website in order to access certain areas of the Site. With respect to any such registration,
                    we may refuse to grant you, and you may not use, a user name (or email address) that is already being
                    used by someone else; that may be construed as impersonating another person; that belongs to another
                    person; that violates the intellectual property or other rights of any person; that is offensive; or
                    that we reject for any other reason in our sole discretion. You are responsible for maintaining the confidentiality
                    of any password you may use to access the Site, and agree not to transfer your password or user name,
                    or lend or otherwise transfer your use of or access to the Site, to any third party. You are fully responsible
                    for all interaction with the Site that occurs in connection with your password or user name. You agree
                    to immediately notify the Company of any unauthorized use of your password or user name or any other
                    breach of security related to your account or the Site, and to ensure that you “log off”/exit from your
                    account with the Site (if applicable) at the end of each session. We are not liable for any loss or damage
                    arising from your failure to comply with any of the foregoing obligations.
                </p>
                <p>
                    <strong>Privacy</strong>
                </p>
                <p>
                    Any personal data (for example, your name, address, telephone number or e-mail address) you transmit to the Site by electronic
                    mail or otherwise will be used by the Company in accordance with the Site’s Privacy Policy as posted.
                    You represent and warrant that any information you provide in connection with your use of the Site is
                    and shall remain true, accurate, and complete, and that you will maintain and update such information
                    regularly. You agree that if any information you provide is false, inaccurate, obsolete or incomplete,
                    we may terminate your use of the Site.
                </p>
                <p>
                    <strong>Submissions</strong>
                </p>
                <p>
                    We welcome your comments regarding this website. However, any comments, feedback, notes, messages, ideas, suggestions or
                    other communications (collectively, “Comments”) sent to the website shall be and remain the exclusive
                    property of the Company. Your submission of any such Comments shall constitute an assignment to the Company
                    of all worldwide rights, titles and interests in all copyrights and other intellectual property rights
                    in the Comments. The Company will be entitled to use, reproduce, disclose, publish and distribute any
                    material you submit for any purpose whatsoever, without restriction and without compensating you in any
                    way. For this reason, we ask that you not send us any comments that you do not wish to assign to us,
                    including any confidential information or any original creative materials such as stories, product ideas,
                    computer code or original artwork.
                </p>
                <p>
                    <strong>Correction of Errors and Inaccuracies; Risk of Loss</strong>
                </p>
                <p>
                    The information on this website may contain typographical errors or inaccuracies and may not be complete or current. We therefore
                    reserve the right to correct any errors, inaccuracies or omissions and to change or update information
                    at any time without prior notice. We apologize for any inconvenience this may cause you.
                </p>
                <p>
                    <strong>Disclaimers – General</strong>
                </p>
                <p>
                    The website is operated by the Company on an “as is,” “as available” basis, without representations or warranties of any
                    kind. To the full extent permitted by law the Company and its affiliates (collectively, the “Company
                    Businesses”) disclaim any and all representations and warranties with respect to this site and its contents,
                    whether express, implied, or statutory, including, but not limited to, warranties of title, merchantability
                    and fitness for a particular purpose or use. Without limiting the foregoing, the Company Businesses do
                    not represent or warrant that the information on this website is accurate, complete, reliable, useful,
                    timely or current or that this website will operate without interruption or error.
                </p>
                <p>
                    The Company Businesses do not endorse nor make any warranties or representations about the options or other service or data
                    you may access, download or use as a result of the use of the information contained on the website, or
                    about any website you may access through this website. Links to other sites are provided for convenience
                    only. You need to make your own decisions regarding your interactions or communications with any other
                    website.
                </p>
                <p>
                    The Company Businesses make no representation that content provided on this website is applicable or appropriate for use
                    in locations outside of the United States.
                </p>
                <p>
                    The Company Businesses assume no risk or responsibility for your use of any of the content provided on this website.
                </p>
                <p>
                    <strong>Limitation of Liability</strong>
                </p>
                <p>
                    Under no circumstances, shall Company Businesses or any of their employees, directors, officers, agents, vendors or suppliers
                    be liable for any direct or indirect losses or damages arising out of or in connection with the use of
                    or inability to use this website.
                </p>
                <p>
                    This is a comprehensive limitation of liability that applies to all losses and damages of any kind (whether general, special,
                    consequential, incidental, exemplary or otherwise, including, without limitation, loss of data, income
                    or profits), whether in contract, negligence or other tortuous action, even if an authorized representative
                    of any Company Business has been advised of or should have known of the possibility of such damages.
                </p>
                <p>
                    If you are dissatisfied with this website or any content on the site, or with these terms and conditions, your sole and exclusive
                    remedy is to discontinue using this website. You acknowledge, by your use of this website, that your
                    use of the site is at your sole risk.
                </p>
                <p>
                    Applicable law may not allow the limitation of liability set forth above, so this limitation of liability may not apply to
                    you. If any part of this limitation on liability is found to be invalid or unenforceable for any reason,
                    then the aggregate liability of the Company Businesses under such circumstances for liabilities that
                    otherwise would have been limited our maximum aggregate liability to you arising by reason of this transaction
                    shall be the amount paid by you for the physical materials.
                </p>
                <p>
                    <strong>Indemnity</strong>
                </p>
                <p>
                    You agree to defend, indemnify and hold harmless us and our directors, officers, agents, and employees for any and all costs,
                    fines, claims, damages, charges, or fees (including reasonable attorney’s and expert witness’ fees) arising
                    by reason of your purchase or use of the web site or arising from: Any breach of the agreement. Any claims
                    arising from the sale or license of goods or services promoted or made available through this program
                    except where limited by law. Our indemnity rights shall not be limited or offset by any contributory
                    negligence by us.
                </p>
                <p>
                    <strong>Electronic Records</strong>
                </p>
                <p>
                    I agree to the use of electronic records to evidence this agreement. I understand that I have the right to not consent to
                    the use of electronic records by not transacting business with the company. In such event, this will
                    be null and void. My consent applies only to this transaction. I hereby waive any objection I may have
                    to the companies use of electronic records in court should it be necessary to enforce the terms of this
                    agreement.
                </p>
                <p>
                    <strong>Consent to Binding Arbitration Before the American Arbitration Association</strong>
                </p>
                <p>
                    By execution of this Agreement you hereby consent and agree that any and all disputes that arise concerning this Agreement
                    or any of the terms of this Agreement, or that concern any aspect of the relationship between Client
                    and Company, shall be decided exclusively in binding arbitration conducted by the American Arbitration
                    Association (‘AAA’). Client and Company further consent and agree that Client may file their complaint
                    with the AAA in their state, but that all AAA arbitration hearings shall be conducted in Utah, US, where
                    Company is headquartered and located, before a single AAA arbitrator. The arbitrator shall be appointed
                    in accordance with the Section R-13, Appointment from Panel, of AAA’s Commercial Arbitration rules. Client
                    and Company consent and agree that the AAA arbitrator shall exclusively apply Utah, US law to the dispute,
                    regardless of and without giving any consideration to choice of law principles. Client and Company further
                    consent and agree that each party will bear his/her/it’s own cost and attorneys’ fees incurred in connection
                    with the AAA arbitration proceedings, and agree that the AAA arbitrator shall have no power or discretion
                    to make any award of costs or attorneys’ fees. However, in the event that Client or Company files any
                    court proceedings in violation of the contractually agreed upon arbitration requirement, the party who
                    is required to appear in any court proceedings to defend against such proceeding shall be entitled to
                    an immediate stay and dismissal of such court proceedings, and shall be entitled to an award of all reasonable
                    attorneys’ fees and costs incurred in connection with such court proceedings. The final decision of the
                    arbitrator shall be furnished in writing and shall constitute a conclusive determination of the issue(s)
                    in question, binding upon the Client and Company, and shall not be contested by either of them except
                    as permitted by applicable law. Such decision may be used in a court of law only for the purpose of seeking
                    enforcement of the arbitrators’ award.
                </p>
                <p>
                    <strong>Waiver</strong>
                </p>
                <p>
                    No failure to enforce any provision, assert any right or insist on performance of any provision under this Agreement in any
                    instance shall be deemed a waiver of the ability to enforce such provision, assert such right, or insist
                    on the performance of such obligations in the future. Our failure to enforce your strict performance
                    will not constitute a waiver of our right to subsequently enforce such provision or any other provision
                    of this Agreement.
                </p>
                <p>
                    <strong>Entire Agreement</strong>
                </p>
                <p>
                    This agreement constitutes the entire understanding with regard to your purchase and affiliation with the sponsor, and us
                    and supersedes all prior representations, oral or written. If any provision, paragraph, or subparagraph
                    of this agreement is adjudged by any court of law to be void or unenforceable, in whole or in part, the
                    rest of the agreement shall remain in effect. The parties agree that in such event, the offending clause
                    will be replaced with a provision or provisions having the same economic effect. This agreement shall
                    be binding on, and shall inure to the benefit of, the parties to it and their respective heirs, legal
                    representatives, successors and assigns. By ordering from the website or utilizing services of the website
                    I hereby acknowledge that I have read the above terms and conditions, understand them, and agree to be
                    legally bound by them.
                </p>
                <p>
                    <strong>Enforcement of Terms and Conditions</strong>
                </p>
                <p>
                    By accessing and using the website, you agree that your access to and use of this website is subject to these terms and conditions,
                    as well as all applicable laws, as governed and interpreted pursuant to the laws of the state of Utah,
                    United States of America.
                </p>
            </div>
        </article>

    </main>
</div>